@use "../../variables.scss" as *;

.card-row {
  background-color: $bg-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  a {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1.2rem;
    img {
      width: 60%;
      border: 3px solid $secondary-color;
      border-radius: 10px;
      &:hover {
        border: 3px solid $main-color;
        width: 80%;
      }
    }
  }
  @include tablet-portrait {
    a {
      flex-basis: 50%;
      margin-bottom: 3rem;
    }
  }
  @include desktop {
    padding: 6rem;

    height: 20rem;
    a {
      flex-basis: 20%;
      img {
        width: 70%;
        &:hover {
          width: 90%;
        }
      }
    }
  }
  @include big-desktop {
    padding: 12rem;
    a {
      img {
        width: 80%;
        &:hover {
          width: 100%;
        }
      }
    }
  }
}
